<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user/user-edit.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<div class="form-container">
    <div>
        <p>Profile Image:</p>
        <img th:src="${user.imageUrl}" width="300" alt="Photo"/>
    </div>

<!--    <form th:action="@{/users/upload}" method="post" enctype="multipart/form-data">-->
<!--        -->
<!--        <div style="display: none" name="user" th:object="${user}"></div>-->
<!--        <button type="submit">Upload</button>-->
<!--    </form>-->
    <h1>Edit Profile</h1>
    <form th:action="@{/admin/edit/user(id=${user.getId()})}" th:object="${user}" method="post"  >
        <label>First Name:
            <input type="text" th:field="*{firstName}" required/>
        </label>
        <label>Last Name:
            <input type="text" th:field="*{lastName}" required/>
        </label>
        <label>Email:
            <input type="email" th:field="*{email}" required/>
        </label>
        <label for="role">Role:
            <select id="role" th:field="*{role}" required>
                <option value="DEFAULT">Default</option>
                <option value="ADMIN">Admin</option>
                <option value="LIBRARIAN">Librarian</option>
            </select>
        </label>
        <button type="submit">Edit</button>
    </form>

    <p th:if="${errorMessage}" th:text="${errorMessage}" class="error"></p>
</div>
</body>
</html>
