<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user/login.css">
</head>
<body>
<div class="page-center">
    <div class="login-container">
        <h1>Войти</h1>
        <form th:action="@{/users/login}" method="post">
            <label>Логин:
                <input type="text" name="username" required/>
            </label>
            <label>Пароль:
                <input type="password" name="password" required/>
            </label>
            <button type="submit">Войти</button>
        </form>
        <div class="register-link">
            Нет аккаунта? <a th:href="@{/users/register}">Создать</a>
        </div>
        <a th:href = "@{/users/register}"> <button >Регистрация </button>  </a>
        <p th:if="${param.error}" class="message">Неверный логин или пароль.</p>
        <p th:if="${param.logout}" class="message logout-msg">Вы вышли из системы.</p>
    </div>
</div>
</body>
</html>
