<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user/user-profile.css">
</head>
<body>
<div class="profile-container">
    <div class="profile-header">
        <h2>User Profile</h2>
    </div>
    <div class="profile-info">
        <div><strong>First Name:</strong> <span th:text="${user.getFirstName()}"></span></div>
        <div><strong>Last Name:</strong> <span th:text="${user.getLastName()}"></span></div>
        <div><strong>Email:</strong> <span th:text="${user.getEmail()}"></span></div>
    </div>
</div>
</body>
</html>
