<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user/user-profile.css">
</head>
<body>

<div th:replace="fragments/navbar::navbar"></div>


<div class="profile-container">
    <div class="profile-header">
        <h2>User Profile</h2>
    </div>
    <div>
        <p>Profile Image:</p>
        <img th:src="${user.imageUrl}" width="300" alt="Photo"/>
    </div>
    <div class="profile-info">
        <div><strong>First Name:</strong> <span th:text="${user.getFirstName()}"></span></div>
        <div><strong>Last Name:</strong> <span th:text="${user.getLastName()}"></span></div>
        <div><strong>Email:</strong> <span th:text="${user.getEmail()}"></span></div>
    </div>
</div>

<a th:href="@{/users/statisticsOfOther/{id}(id=${user.getId()})}"><button >Show Statistics</button></a>

<div class="user-statistics" th:if="${showStatistics}">
    <h2>User Statistics</h2>

    <!-- Reserved Books Table -->
    <div class="mb-4">
        <h4>Reserved Books</h4>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Reserved Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${reservedBooks.content}">
                <td th:text="${book.bookTitle}">Title</td>
                <!--                    <td th:text="${book.author}">Author</td>-->
                <!--                    <td th:text="${#temporals.format(book.timestamp, 'yyyy-MM-dd')}">Date</td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Loaned Books Table -->
    <div class="mb-4">
        <h4>Loaned Books</h4>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Loaned Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${loanedBooks.content}">
                <td th:text="${book.bookTitle}">Title</td>
                <!--                    <td th:text="${book.author}">Author</td>-->
                <!--                    <td th:text="${#temporals.format(book.timestamp, 'yyyy-MM-dd')}">Date</td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Read Books Table -->
    <div class="mb-4">
        <h4>Read Books</h4>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <!--                    <th>Author</th>-->
                <!--                    <th>Finished Reading</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${readBooks.content}">
                <td th:text="${book.bookTitle}">Title</td>
                <!--                    <td th:text="${book.author}">Author</td>-->
                <!--                    <td th:text="${#temporals.format(book.timestamp, 'yyyy-MM-dd')}">Date</td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${isBanned} and ${#authentication.getPrincipal().role != 'DEFAULT'}">
        <p style="color: red;"><strong>Пользователь в черном списке</strong></p>    <form th:action="@{'/unban/' + ${user.id}}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />        <button type="submit">Разбанить</button>
    </form></div>
    <div th:if="${!isBanned} and ${#authentication.getPrincipal().role != 'DEFAULT'}">    <form th:action="@{'/ban/' + ${user.id}}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />        <label>Причина:</label>
        <input type="text" name="reason" required />        <button type="submit">Забанить</button>
    </form></div>

    <div th:if="${#authentication.getPrincipal().role != 'DEFAULT'}">
        <form th:action="@{'/violation/' + ${user.id}}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label>Причина нарушения:</label>
            <input type="text" name="reason" required />
            <button type="submit">Добавить нарушение</button>
        </form>
    </div>

</div>
</body>
</html>
