<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="/fragments/navbar::navbar"></div>
<!-- Контент -->
<div class="container" style="max-width: 500px; margin-top: 40px;">
    <h2 style="margin-bottom: 20px; color: var(--accent-color); text-align: center;">Reset Password</h2>

    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />

        <label for="password">Новый пароль</label>
        <input type="password" name="password" required />

        <label for="confirmPassword">Подтвердите пароль</label>
        <input type="password" name="confirmPassword" required />

        <button type="submit">Сбросить пароль</button>

        <p th:if="${error}" style="color: red;" th:text="${error}"></p>
        <p th:if="${message}" style="color: green;" th:text="${message}"></p>
    </form>
</div>

<!-- Футер -->
<div class="footer">
    &copy; 2025 Library Inc. Don't steal books, or else 🥊
</div>

</body>
</html>
