<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Users Of Library</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>🔥 Топ Пользователи Библиотеки 🔥</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возвраты</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iterStat : ${users}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.totalRead}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>