<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user/user-edit.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<div class="form-container">
    <h1>Edit Profile</h1>
    <form th:action="@{/users/edit}" th:object="${user}" method="post">
        <label>First Name:
            <input type="text" th:field="*{firstName}" required/>
        </label>
        <label>Last Name:
            <input type="text" th:field="*{lastName}" required/>
        </label>
        <label>Email:
            <input type="email" th:field="*{email}" required/>
        </label>
        <p th:text="${user.getRole()}"></p>
        <button type="submit">Edit</button>
    </form>

    <p th:if="${errorMessage}" th:text="${errorMessage}" class="error"></p>
</div>
</body>
</html>
