<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Library Management System</title>
</head>
<body>

<header>
    <h1>📚 Library Management System</h1>
</header>
<div th:include="fragments/navbar::navbar"></div>
<div class="container">
    <a th:href="@{/books}" class="btn">📖 View Books</a>
    <a th:href="@{/users/home}" class="btn">👤 My Profile</a>
    <div th:if="${#authentication.getName() != 'anonymousUser'}">
        <form th:action="@{/logout}" method="post" style="display:flex;">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>

    <!-- Top Rated Books Leaderboard -->
    <div class="leaderboard-section">
        <h2>Top 10 Rated Books</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Average Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${topRatedBooks}">
                <td th:text="${book.title}"></td>
                <td th:text="${#numbers.formatDecimal(book.ratingAverage, 1, 2)}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Top Favorited Books Leaderboard -->
    <div class="leaderboard-section">
        <h2>Top 10 Favorited Books</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Favorite Count</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${topFavoritedBooks}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.favoriteCount}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="footer">
    &copy; 2025 Library Inc. Don't steal books, or else 🥊
</div>

</body>
</html>